.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px !important;
    color: #fff;
    font-weight: bold;
}

.swiper-pagination-bullet {
    height: 10px !important;
    width: 10px !important;
    background-color: #fff !important;
}